@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

@font-face {
    font-family: Gruppo-Regular;
    src: url(./fonts/Gruppo-Regular.ttf);
  }

@font-face {
    font-family: Harabara;
    src: url(./fonts/Harabara.ttf);
  }

@font-face {
    font-family: Cirqua;
    src: url(./fonts/Cirqua.ttf);
  }

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(./fonts/Montserrat-SemiBold.otf);
  }

@font-face {
  font-family: AfterisMoghu-Demo;
  src: url(./fonts/AfterisMoghu-Demo.otf);
}

@font-face {
    font-family: Harabara;
    src: url(./fonts/Harabara.ttf);
}

body {
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  height: 100%;
  background-size: cover;

}

/*Dark Mode Css*/

body.light-mode {
  background: linear-gradient(rgb(255, 255, 255), #f3f3f3);
  color: #000000;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode h1 {
  color: #9ECAE7;
}

body.dark-mode h2 {
  color: #9ECAE7;
}

body.dark-mode h3 {
  color: #9ECAE7;
}

body.dark-mode a {
  color: #ffffff;
}

body.dark-mode hr {
  color: #ffffff;
}

body.dark-mode button {
  color: #ffffff;
}

body.dark-mode #myBtn {
  color: white; /* Light text color */
}

/* Hover effect for the button in dark mode */
body.dark-mode #myBtn:hover {
  background-color: #9ECAE7;
}

body.dark-mode nav.project-category a {
  color: #9ECAE7; 
}

body.dark-mode nav.project-category a i {
  color: #9ECAE7; 
}


ul.a {
  list-style-type: none;
  display: inline-block;
  padding: 0%;
}

ul.b {
  list-style-type: none;
  padding: 0%;
  float: right;
  margin-right: 100px;
}

h1{
    text-align: center;
    color: #2D457D; 
    font-size: 20vw; 
    font-family: "Harabara"; 
    font-weight: 100; 
    word-wrap: break-word;
    letter-spacing: -15px;
    margin: 0;
}

h3{
    color: #000;
    font-family: "Harabara";
    text-align: center;
    font-size: 16px;
}

.toggle-button {
  position: fixed;
  left: 40px;
  top: -14px;
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: none;
  color: #2D457D;
  border-radius: 5px;
  display: inline-block;
  background-color: transparent;
}

#moon-icon{
  display: inline-block;
  margin-left: 20px;
}

/*Dark Mode Css Ends*/

#home-logo{
  max-width: 100%;
  width: 900px;
  margin-top: -140px;
}

#intro{
  color: #8A8A8A; 
  font-size: 20px; 
  font-family: "Gruppo-Regular"; 
  font-weight: 400; 
  position: relative;
  top: -220px;
  left:auto;
  right:2%;
  bottom: auto;
  
}

a{
  text-decoration: none;
  color: #2D457D;
}

a:hover {
  color: #F05757;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: #2D457D;
}

/*Footer divs Css Starts*/

footer{
  width: 100%; 
  height: 100%; 
  color: #8A8A8A; 
  font-size: 20px; 
  font-family: "Gruppo-Regular"; 
  font-weight: 400; 
  word-wrap: break-word"
}

#footer-links {
  width: 100%; 
  height: 100%; 
  position: relative
}

#footer-image {
  width: 60px; 
  height: 60px; 
  left: 119px; 
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: -20px;
  display: inline-block;
  border-radius: 20px
}

#footer-pagelinks{
  width: 200px; 
  height: 77px; 
  left: 229px; 
  top: 49px; 
  display:inline-block;
  color: #2D457D; 
  font-size: 24px; 
  font-family: "Montserrat-SemiBold"; 
  font-weight: 600; 
  word-wrap: break-word
}

#footer-copyright{
  width: 50%; 
  height: 59px; 
  left: 156px; 
  top: 166px; 
  display: inline-block;
  text-align: center; 
  color: #8A8A8A; 
  font-size: 20px; 
  font-family: "Gruppo-Regular"; 
  font-weight: 400; 
  word-wrap: break-word
}

#footer-contact{
  width: 235px; 
  height: 59px; 
  left: 35px; 
  top: 147px; 
  display: inline-block; 
  color: #8A8A8A; 
  font-size: 20px; 
  font-family: "Gruppo-Regular"; 
  font-weight: 400; 
  word-wrap: break-word;
}

hr {
  background-color: #dfdfdf;
  margin-bottom: 35px;
  margin-top: 10px;
}

/*Footer divs Css Ends*/

/* homepage menu css */ 

/* ---(*,)<--- removed to create bullets beside link*/
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html {
  width: 100%;
  font-size: 16px;
  color: #2D457D;
  font-weight: normal;
  font-family: "Montserrat-SemiBold";
  display: inline-block;
}

#ham-menu {
  display: none;

}
label[for="ham-menu"] {
  display: inline-flex;
  position: fixed;
  top: 24px;
  left: 20px;
  z-index: 999;
  width: 60px;
  height: 60px;
}
.ham-menu {
  width: 80vw;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 998;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ham-menu > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 200px;
  height: 60%;
}
.ham-menu > ul > li {
  font-size: 4rem;
  white-space: nowrap;
  letter-spacing: 0.10em;
  cursor: pointer;
  color: #F05757;
}
#ham-menu:checked + label {
  background-color: transparent;
  border-color: none;
}
#ham-menu:checked ~ div.ham-menu {
  transform: translate(0px);
  visibility: visible;
}
.full-page-green {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  border-radius: 20px;
  box-shadow: 3px 2px 2px #e2e2e2;
  background-color: #f3f3f3;
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 500ms;
  position: fixed;
  top: 50px;
  left: 25px;
}
#ham-menu:checked ~ div.full-page-green {
  display: block;
  opacity: 1;
  visibility: visible;
}
[for="ham-menu"] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
.menu-line {
  display: block;
  width: 17px;
  height: 2px;
  margin: 10px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: none;
  transition: 500ms;
  transform-origin: right center;
}
[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}
#ham-menu:checked + label span {
  background-color: none;
}
#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
  transform: scale(0);
}
#ham-menu:checked + label span:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}
#ham-menu:checked + label span:nth-child(4) {
  transform: translateY(17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(6) {
  transform: translateY(-17px) rotate(45deg);
}
p {
  display: inline;
  font-size: 1.8rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Gruppo-Regular";
}
#menulinks {
  font-size: 1.6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Cirqua";
  display: inline;
  font-weight: bold;
  padding: 50px;
  color: #2D457D;
  text-decoration: none;
}

/*
a.custom-link {
  font-family: "Montserrat-SemiBold";
  display: inline;
  color: #2D457D;
  text-decoration: none;
}
*/

a::after {
  content: "\e806";
  display: inline-block;
  font-family: "Gruppo-Regular";
  padding: 5px;
  font-size: 1.6rem;
  transform: rotate(-90deg);
}
.text {
  font-size: 2.5rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Cirqua";
}
.title {
  font-size: 3rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Cirqua";
  color: var(--icon-hover-bg);
  padding: 10px;
}
.heading {
  font-size: 6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Cirqua";
}
.centre-text {
  text-align: center;
}
.bold-text {
  font-weight: bold;
}

/*End of Menu CSS*/

@media only screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

@media only screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .example {  
    font-size: 100px;
  }
}

/*side menu css*/

.navigation-bar-scroll {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
  
&.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0,-60px);
    transition: .5s ease;
  }
  
&.is-visible {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transition: .5s ease;
  }

.nav-item{
  font-family: "Cirqua";
  list-style-type: none;
}

/* portfolio album starts*/

.container {
    width: 80%;
    margin: 0 auto;
}

.projects {
    padding: 5px 0;
  }
  
  .project-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 350px;
  }
  
  .card a {
    text-decoration: none;
    color: #333;
  }
  
  .card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card h3 {
    font-size: 1.5rem;
    padding: 10px;
    border-top: 1px solid #ddd;
    font-family: 'Gruppo';
  }
  
  .card p {
    padding: 5px;
    font-size: 1rem;
    color: #555;
    font-family: 'Gruppo';
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }


  .image-container {
    position: relative;
    
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.677);
    font-size: 1.5rem;
    font-family: 'Harabara';
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}

.card:hover .hover-text {
    opacity: 1; 
}


/* project category nav bar css*/ 

.project-category {
  padding: 10px 0;
}

.project-category ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.project-category ul li {
  margin: 0 15px;
}

.project-category ul li a {
  color: #2D457D;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.project-category ul li a:hover {
  color: #F05757; 
}

/* scroll button*/

#myBtn {
  font-size: 180px;
  font-family: "AfterisMoghu-Demo";
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #2D457D;
  cursor: pointer;
  height: 90px;
  width: 90px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #2D457D;
  scroll-behavior: smooth;
  transition: all 0.2s ease-in-out;
}

#myBtn:hover {
  background-color: none;
  color: #F05757;
  border: 1px solid #F05757;
}


